ol {
    list-style-type: decimal;
}

ol.comidas {
    text-transform: capitalize;
}

ol.comidas2 {
    text-transform: capitalize;
    list-style-type: upper-roman;
}

ul.peliculas {
    list-style-type: square;
}
ul.peliculas2 {
    list-style-type:disc;
}