h1 {
    text-align: center;
}

form {
    margin-left: 25%;
    margin-right: 25%;
    background-color: rgb(246, 207, 157);
    width: 40%;
}

.tabla1 {
    border: 18px solid rgb(168, 121, 32);
    margin-left: 8%;
    width: 80%;
    background-color: rgb(230, 166, 48);
}
.botones {
    margin-left: 25%;
    margin-top: 2%;
}
.footer {
    margin-left: 40%;
}
