* {
  box-sizing: border-box;
}
/* Primero: 
Espacios entre filas y columnas para un display:grid.
Luego para la estructura:
3 columnas, dos con el 20% y otra automática, 
es decir, ocupará el 60% restante y
tres filas que ocuparán 100px cada una.
Luego un margin, un padding y centrado con un ancho del 80% 
  grid-column-gap: 10px;
  grid-row-gap: 20px;
  grid-template-columns: 20% auto 20%;
  grid-template-rows: repeat(3, 100px); */

.contenedor {
  background-color: #aaa;
  display: grid;
  grid-column-gap: 10px;
  grid-row-gap: 20px;
  grid-template-columns: 20% auto 20%;
  grid-template-rows: repeat(3, 100px);
  margin: 20px auto;
  padding: 1em;
  width: 80%;
}

/* Para añadir una columna más que ocupe 20%*/
/* grid-template-columns: 20% auto 20% 20%; */

/* Para obtener: 2 columnas que ocuparán un 20% la primera y la otra automática.
   Tenemos que añadir una fila más para que quepa */
/* grid-template-columns: 20% auto; 
   grid-template-rows: repeat(4, 100px); */




/* Para obtener: 3 columnas que ocuparán un 20% y una con tamaño automático */
/* grid-template-column: repeat(3, 20% [col-start]) auto  

/* Para obtener 4 columnas: 1 de 100px y el resto se repartiría entre 5 partes: 
2 partes para las primera y última columnas y una parte para la penúltima */
/* Repatición por pesos, equitativa */
/* grid-template-column: 2fr 100px 1fr 2fr */

/* Para alinear el contenido: */
/* Para alinear en vertical sin ocupar todo el alto disponible por defecto (stretch) 
   dejando 4 columnas y 3 filas */
/* grid-template-columns: 20% auto 20% 20%; 
   grid-template-rows: repeat(3, 100px);
   justify-items: center; */
/* Para alinear verticalmente el contenido dentro de cada celda
  Quitando: justify-items: center; */
  /*   align-items: start; */
/* RECOMENDACIÓN: Trabajar con Firefox para ver ayuda: Inspeccionar elemento 
  y cambiar online las propiedades  */

/* Para distribuir el contenido si no ocupa todo el ancho*/
/* Si dejo 3 columnas que ocuparán un 20%, no ocupan el ancho total */
/* Para centrarlo o ponerlo al comienzo */
/* grid-template-columns: 20% 20% 20%; */
/* Quitando: align-items: start; */
/* justify-content: center;  */
/* justify-content: start;  */
/* Para distribución vertical  si tengo 3 filas que ocuparán un 20% */
/* Dándole altura concreta y centrado */
/* grid-template-rows: repeat(3, 20%); 
   height: 600px;
  align-content: center;
     */
/* Si lo quiero abajo */
/* align-content: end; */
/* Distribución equitativa */
/* align-content: space-evenly; */

.contenedor > div {
  background-color: bisque;
  border: 1px solid black;
}
