#titulo {
    text-align: center;
    font-family: cursive;
    background-color: lightsteelblue;
    margin-top: auto;
}

body {
    background-color:antiquewhite;
    margin-left:2%;
    margin-right: 2%;
}

#PrimerCapitulo {
    font-family: fantasy;
    color:dimgrey;
    text-decoration:underline;
}

#parrafo1::first-letter {
    font-size: 3em;
    float: left;
    margin-right: 10px;
}

#parrafo1 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 0.5px;
    text-align: left;
    color: rgb(166, 102, 225);
    margin-top: 0%;
    margin-bottom: 0%;
}

#parrafo2::first-letter {
    font-size: 5em;
    float: left;
    margin-right: 5px;
}

#parrafo2 {
    font-family:monospace;
    text-align: justify;
    color: rgb(18, 45, 12);
    line-height: 1.5;
    margin-top: 0%;
    margin-bottom: 0%;
}

#parrafo3 {
    font-family: serif;
    text-align: center;
    color: hotpink;
    background-color: black;
}

#parrafo4 {
    font-family: cursive;
    text-shadow: 1px 1px;
    text-align: justify;
    word-spacing: 10px;
    margin-top: 0%;
    margin-bottom: 0%;
}

#parrafo5::first-letter {
    font-size: 5em;
    float: left;
    margin-right: 5px;
}

#parrafo5 {
    font-family:'Courier New', Courier, monospace;
    font-weight: bolder;
    color:chartreuse;
}

#parrafo6 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:orange;
    background-color: blue;
    text-align: center;
    margin-top: 0%;
    margin-bottom: 0%;
}

#parrafo7::first-letter {
    font-size: 5em;
    float: left;
    margin-right: 5px;
}

#parrafo7 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight:lighter;
    text-align: justify;
    word-spacing: 4.5px;
    color:darkturquoise;
    margin-top: 0%;
    margin-bottom: 0%;
}

#parrafo8 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 0%;
    margin-bottom: 0%;
    color:rgb(92, 79, 175);
    text-align:right;
}

#indice:hover {
    color:#2EFEF7;
    font-size: 1.5em;
    text-decoration: none;
    
}
#indice {
    margin-left: 4%;
    font-size: 1.5em;
    font-weight: bold;
    color:#FF00FF;
    background-color: black;
    text-decoration: none;
    padding: 0.3% 2% 0.3% 2%;
}

#inicio:hover {
    color: #DF0101;
    font-size: 1.5em;
    text-decoration: none;
    
}

#inicio {
    color:white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5em;
    background-color:black;
    margin-left: 40%;
    padding: 0.3% 2% 0.3% 2%;
}

