body {
    background-color:grey;
    margin-left:2%;
    margin-right: 2%;
}

#nombre {
    color: white;
    margin-left: 40%;
    font-size: 2.5em;
    font-weight: bold;
    font-family:cursive;
}

ul {
    list-style-type: none;
    margin-top: 5%;
    font-size: 1.5em;
    text-decoration: none;
}

li {
    background-color: black;
    width: fit-content;
    margin-left: 45%;
    padding: 0.3% 2% 0.3% 2%;
}

.opciones {
    color:#FF00FF;
    font-weight: lighter;
    text-decoration: none;
}

.opciones:hover {
    color:#2EFEF7;
}

.pie {
    text-align: center;
}