#titulo {
    font-style: italic;
    font-size:larger;
    text-decoration:underline;
    background-color:lightpink;
    width: fit-content;
    margin-left: 40%;
}

.letra {
    text-decoration: none;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

ul {
    list-style-type:georgian;
    margin-left: 40%;
}

#indice:hover {
    color:#2EFEF7;
    font-size: 1.5em;
    text-decoration: none;
    
}
#indice {
    margin-left: 42%;
    font-size: 1.5em;
    font-weight: bold;
    color:#FF00FF;
    background-color: black;
    text-decoration: none;
    padding: 0.3% 2% 0.3% 2%;
}